@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(238, 235, 235);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: black;
    color: white;
    padding: 10px 10px 10px 20px;
    height: 100px;
}

nav#topo {
    background-color: black;
    padding: 20px;
}

nav#topo a {
    color: grey;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
    padding: 10px;
}

nav a:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
}

main {
    min-width: 400px;
    max-width: 800px;
    background-color: white;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.384);
}

main p {
    text-align: justify;
    font-size: 1.2em;
    padding: 10px 0px;
}

main h1 {
    background-image: linear-gradient(to right, rgb(190, 181, 181), lightgrey);
    margin: -15px -15px 0px -15px;
    padding: 10px;
}

img#imagem {
    width: 90%;
    display: block;
    margin: 40px auto;
}

nav#baixo{
    background-color: white;
    margin-top: 40px;
}

nav#baixo a{
    background-color: goldenrod;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    padding: 5px;
}

aside {
    background-color: black;
    color: rgb(155, 6, 6);
}

aside h3{
    color: white;
}

aside ul{
    columns: 2;
    list-style-position: inside;
    margin-left: 10px;
}

aside a {
    text-decoration: none;
    color: rgb(143, 5, 5);
    font-weight: bold;
    padding: 2px;
    margin-bottom: 2px;
}

footer{
    background-color: black;
    color: white;
    margin-top: 10px;
    padding: 2px;
    text-align: center;
}