@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, blue, black);
}

main{
    width: 600px;
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    margin: auto;
    box-shadow: 5px 5px 5px black;
}

h1{
    color: aqua;
    text-align: center;
}

h2{
    color: brown;
}