@charset "UTF-8";

/* Estilo para TELA */

*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    background-color: rgb(146, 143, 143);
}

header h1{
    text-align: center;
}

menu ul{
    list-style-type: none;
    background-color: grey;
}

menu li{ /* Deixar um do lado do outro */
    display: inline-block;
    padding: 10px;
    background-color: darkgray;
    color: white;
    font-weight: bold;
}

article{
    width: 600px;
    display: block;
    margin: auto;
}
