@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: lightgrey;
}

header {
    background-color: darkgrey;
}

header h1{
    text-align: center;
    padding: 10px;
}

header menu a{
    text-decoration: none;
    background-color: rgb(58, 54, 54);
    color: white;
    padding: 10px;
    display: inline-block;
    font-weight: bold;
    border-radius: 5px 5px 0px 0px;
}

main {
    background-color: white;
    width: 70vw;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

main h2{
    text-align: center;
}

main p{
    text-align: justify;
    margin-bottom: 10px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}