@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: lightgrey;
    height: 100vh;
    width: 100vw;
}

header{
    background-color: darkgrey;
    color: white;
    padding: 10px;
}

header h1{
    font-weight: bold;
}

header nav a{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    flex-direction: row-reverse;
}

header nav{
    display: flex;
}

header nav a:hover{
    background-color: white;
    color: black;
    transition: background-color .5s; /* Mudar a cor do fundo */
}

main{
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.295);
}