@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100%;
}

body{
    background-color: lightgrey;
    
}

header{
    background-color: darkgrey;
    color: white;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /* Colocar um espaço entre o nome do site e o Menu */
    align-items: center;
}

header h1{
    font-weight: bold;
    flex: 0 0 200px;
}

header nav {
    display: flex;
    justify-content: flex-end; /* Ficar grudado no final */
}

header nav a{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;   
}

header nav a:hover{
    background-color: white;
    color: black;
    transition: background-color .5s; /* Mudar a cor do fundo */
}

main{
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.295);
    width: 90vw;
}