@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: lightgrey;
    height: 100vh;
    width: 100vw;
}

header{
    background-color: darkgrey;
    color: white;
    padding: 10px;
}

header h1{
    font-weight: bold;
}

main{
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.295);
}