@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: black;
    color: white;
}

header h1{
    text-align: center;
    padding-top: 30px;
    font-size: 3em;

}

header p{
    text-align: center;
    font-weight: bolder;
    padding-bottom: 30px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

section{
    white-space: pre-line;
    background-color: white;
    font-size: 1.5em;
    padding-left: 20px;    
}

section.img {
    background-color: rgb(8, 8, 8);
    background-size: cover;
    background-attachment: fixed;    
}

section#img01{
    background-image: url("../imagem/background001.jpg");
    
}

section#img02{
    background-image: url("../imagem/background002.jpg");
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}