@charset "UTF-8";

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100%; /* ou vh - View Height */
    background-color: darkgray;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header h1{
    padding-top: 50px;
    /* text-transform: uppercase; -DEIXAR TODAS AS LETRAS MAIÚSCULAS */
    font-variant: small-caps; /* Letras MAIÚSCULAS, mas as primeiras são maiores que as outras */   
    font-size: 4em;
}

header p{
    padding-bottom: 50px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{ /* Para deixar do jeito que escrevi no HTML, sem precisar usar vários <br> para quebrar a lilnha */
    white-space: pre-line;
    padding-top: 10vh; /* 10% da altura da tela */
    padding-bottom: 10vh;/* 10% da altura da tela */
    line-height: 2em; /* Dá um espaçamento entre as frases */
    padding-left: 30px;
    font-size: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(27, 23, 23);
    color: white;
}

section.imagem p {
    background-color: rgba(0, 0, 0, 0.212);
    display: inline-block; /* Faz uma caixa do tamanho do conteúdo */
    padding: 5px;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}