@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: darkgrey;
}

header nav {
    background-color: lightgrey;
    padding: 10px;
}

header h1{
    text-align: center;
    padding: 10px;
}

header a{
    text-decoration: none;
    color: white;
    background-color: rgb(61, 57, 57);
    padding: 10px;
    font-weight: bold;
}

main{
    width: 60vw;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.288);
    margin-top: 10px;
}

main h2{
    margin: 10px;
}

main p {
    text-align: justify;
    padding: 5px;
}