@charset "UTF-8";

div.container{
    display: grid;
    grid-template-rows: repeat(3, 100px); /*3 linhas com 100px cada*/
    grid-template-columns: repeat(4, 1fr); /*4 colunas - 4 partes fracionadas */
    gap: 5px; /* Espaçamento */
}

.caixa1{ /* Vai ocupar todo o espaço de cima */
    background-color: red;
    grid-row-start: 1; /* LINHA */
    grid-row-end: 2; /* LINHA */
    grid-column-start: 1; /* COLUNA */
    grid-column-end: 5; /* COLUNA */
}

.caixa2{
    background-color: yellow;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

.caixa3{
    background-color: green;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
}