@charset "UTF-8";

/* Todas as demais mídias */

@media print { /* Impressora */
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    
    main {
        border: 2px solid black;       
        
    }

    main::after{
        content: 'Essa impressão foi feita por Éverton Batista.';
    }

    img#phone{
        display: none;
    }

    img#tablet{
        display: none;
    }

    img#print{
        display: block;
    }

    img#pc{
        display: none;
    }

    img#tv{
        display: none;
    }

    h1{
        margin-bottom: 20px;
        color: black;
        text-shadow: none;
    }
    
}

@media screen and (min-width: 760px) and (max-width: 992px) { /* Tablet */
    body{
        background-image: url(../imagem/back-tabl.png);
    }

    img#phone{
        display: none;
    }

    img#tablet{
        display: block;
    }

    img#print{
        display: none;
    }

    img#pc{
        display: none;
    }

    img#tv{
        display: none;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* Desktop */
    body{
        background-image: url(../imagem/back-pc.png);
    }

     img#phone{
        display: none;
    }

    img#tablet{
        display: none;
    }

    img#print{
        display: none;
    }

    img#pc{
        display: block;
    }

    img#tv{
        display: none;
    }
}

@media screen and (min-width: 1200px) { /* Telas Grandes*/
    body{
        background-image: url(../imagem/back-tv.png);
    }

    main{
        width: 700px;
    }

     img#phone{
        display: none;
    }

    img#tablet{
        display: none;
    }

    img#print{
        display: none;
    }

    img#pc{
        display: none;
    }

    img#tv{
        display: block;
    }
}