@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-rows: repeat(2, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.caixa01{
    background-color: red;
    grid-area: 1 / 1 / 2 / -1;
    display: grid;
    place-items: center;
}

.caixa02{
    background-color: green;
    grid-area: 2 / 1 / -1 / 3;
    display: grid;
    place-items: center;
}

.caixa03{
    background-color: blue;
    grid-area: 2 / 3 / -1 / -1;
    display: grid;
    place-items: center;
}