@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 80px 50px 200px 40px;
    grid-template-columns: 1fr 150px;
    gap: 10px;
}

.caixa{
    background-color: lightgrey;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

#topo{
    grid-area: 1 / 1 / 2 / -1;
}

#menu{
    grid-area: 2 / 1 / 3 / -1;
}

#principal{
    grid-area: 3 / 1 / -2 / -2;
}

#secundario{
    grid-area: 3 / 2 / -2 / -1;
}

#rodape{
    grid-area: 4 / 1 / -1 / -1;
}