@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color: lightgrey;
}

header{
    background-color: rgb(179, 178, 178);
}

header h1{
    text-align: center;
    padding: 10px;
}

span#burguer{
    background-color: rgb(44, 43, 43);
    width: 100vw;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
}

span#burguer:hover{
    background-color: white;
    color: black;
}

menu{
    display: none;
}

menu li{
    list-style-type: none;
}

menu a {
    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: rgb(54, 52, 52);
    text-align: center;
    color: white;
    border-top: 2px solid grey;
}

menu a:hover{
    background-color: lightgrey;
    color: black;
    font-weight: bold;
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

article h2{
    padding-bottom: 10px;
    text-align: center;
}

article p{
    text-align: justify;
    text-indent: 20px;
    margin-bottom: 20px;
}