@charset "UTF-8";

body{
    background-color: lightgray;
            font-family: Arial, Helvetica, sans-serif;
            padding: 0px;
            margin: 0px;
        }

        header{
            background-image: linear-gradient(to top, #34DB1A, #1d6b10);
            color: white;
            padding: 10px;
        }

        header > h1{
            text-align: center;
            padding: 1px;
        }

        header > p{
            text-align: center; 
            font-weight: bold;          
        }

        nav > a{
            color: white;
            text-decoration: none;
            font-weight: bold;
            padding: 10px;
        }

        nav > a:hover{
            color: darkgreen;
            background-color: #8BDC26;
            border-radius: 5px;
        }
main{
    width: 800px;
    background-color: white;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 7px;
}

article > h2{
    padding: 10px;
    color: rgb(7, 94, 7);
}

article > p{
    text-align: justify;
    text-indent: 30px;
    padding: 10px;
}

article > h3{
    background-image: linear-gradient(to right, rgb(2, 58, 2), white);
    padding: 5px;
    color: rgb(5, 230, 5);
}

article > img{
    display: block;
    margin: auto;
}

img {
    width: 400px;
    height: 350px;
}

article > video {
    width: 700px;
    display: block;
    margin: auto;
}

section#cursos{
    width: 650px;
    margin: 15px auto;
    padding: 10px;
    border-radius: 10px;
    /*background-color: #1d6b10;*/
}

section > p#aprender{
    color: white;
    font-weight: bold;
    padding: 8px;
    border-radius: 8px;
    background-color: #1d6b10;
}

section#final{
    text-indent: 30px;
    text-align: justify;
    background-color: rgb(29, 223, 148);
    border-radius: 8px;
    padding: 8px;
}

ul {
    columns: 4;
    column-gap: 40px;
    list-style-position: inside;
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}